<form class="newclient-form">

<mat-form-field appearance="fill" class="newclient-full-width">
  <mat-label>Nome</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="fill" class="newclient-full-width">
  <mat-label>Cpf</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="fill" class="newclient-full-width">
  <mat-label>Numero da Conta</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="fill" class="newclient-full-width">
  <mat-label>Deposito Inicial</mat-label>
  <input matInput>
</mat-form-field>

</form>

<div>
  <button mat-button (click)="addClient()"> Adicionar Cliente </button>
  
</div>